<!DOCTYPE html>
<html>
  <head>
    <title>Search</title>
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:700" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' type="text/css" href="{{ url_for('static', filename='public/stylesheets/reset.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='public/stylesheets/bootstrap.min.css') }}">
    <link rel='stylesheet' type="text/css" href="{{ url_for('static', filename='public/stylesheets/style.css') }}" />

  </head>
  <body>
  	<nav class="navbar navbar-inverse" >
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">{{title}}</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li ><a href="{{ url_for('profile', username = username) }}">Profile <span class="sr-only">(current)</span></a></li>
              <li><a href="home">HOME</a></li>
              <li>
                <a>what's going on?</a>
              </li>
            </ul>
            <form class="navbar-form navbar-left" method="POST" action="{{ url_for('friend', username = username) }}">
              <div class="form-group">
                <input type="text" name="user" class="form-control" placeholder="Search">
              <button type="submit" class="btn btn-default">Submit</button>
            </form>
            {% with message = get_flashed_messages()%}
            {%if message%}
              <ul class="alert alert-warning" role="alert">>
                  <li><strong>{{message}}</strong></li>
              </ul>
            {%endif%}
          {%endwith%}
          </div>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="{{ url_for('logout', username = username) }}">Log out</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Settings <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Edit Profile</a></li>
                  <li><a href="#">Additional Info</a></li>
                  <li><a href="#">Credits</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="/">Log out</a></li>
                </ul>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

      <div class="container">
		<div class="row">
		<div class="col-md-3">
		<br>
		</div>
        </div>
    </div>

    <div class="col-md-6" >
        {% for u in usuarios %}
        <div id="profileContainer">
            <div class="col-md-2">
	            <div class="thumbnail" >
	                <img src="{{ url_for('static', filename = u.img) }}" alt="...">
	            </div>
            </div>
            <a href="{{ url_for('contact', username = username, friend = u.username) }}">
            <h3 class="info-post">{{u.name}}</h3></a>
            </div>
            <br>
    	{% endfor%}
        </div>
    </div>

  </body>
</html>