<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:700" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' type="text/css" href="{{ url_for('static', filename='public/stylesheets/reset.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='public/stylesheets/bootstrap.min.css') }}">
    <link rel='stylesheet' type="text/css" href="{{ url_for('static', filename='public/stylesheets/style.css') }}" />

  </head>
  <body>
      <nav class="navbar navbar-inverse" >
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">{{title}}</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li ><a href="{{ url_for('profile', username = username) }}">Profile <span class="sr-only">(current)</span></a></li>
              <li class="active"><a href="home">HOME</a></li>
              <li>
                <a>what's going on?</a>
              </li>
            </ul>
            <form class="navbar-form navbar-left" method="POST" action="{{ url_for('friend', username = username) }}">
              <div class="form-group">
                <input type="text" name="user" class="form-control" placeholder="Search">
              <button type="submit" class="btn btn-default">Submit</button>
            </form>
            {% with message = get_flashed_messages()%}
            {%if message%}
              <li class="alert alert-warning" role="alert">
                  <strong>{{message}}</strong>
              </li>
            {%endif%}
            {%endwith%}
          </div>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="{{ url_for('logout', username = username) }}">Log out</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Settings <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Edit Profile</a></li>
                  <li><a href="#">Additional Info</a></li>
                  <li><a href="#">Credits</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="/">Log out</a></li>
                </ul>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

    <div class="container">
    <div class="row">
    <div class="col-md-3">
        <h3>Contacts</h3>
        {%for c in contacts%}
        <div class="block-contact" class="list-group">
          <div class="col-sm-3" id="imgCnt">
          {%if c.img%}
            <img src="{{ url_for('static', filename = c.img) }}" alt="{{c.name}}" class="img-responsive img-circle" >
          {%else%}
            <img src="" alt="{{c.name}}" class="img-responsive img-circle" >
          {%endif%}
          </div>
          <div class="col-sm-9" id="textCnt">
                  <a href="{{ url_for('contact', username = username, friend = c.username) }}" class="list-group-item" >{{c.name}}</a>
          </div>
        </div>
        {% endfor %}
    </div>

    <div class="col-md-6" >
      {%if publicaciones%}
      {% for p in publicaciones %}
        <div id="profileContainer">
            <div class="col-md-2">
              <div class="thumbnail" >
              {%if p.img%}
                  <img src="{{ url_for('static', filename=p.img) }}" alt="...">
              {%else%}
                  <img src="" alt="...">
              {%endif%}
              </div>
            </div>
            {%if p.user%}
            <a href="{{ url_for('profile', username = username) }}">
            {%else%}
            <a href="{{ url_for('contact', username = username, friend = p.username) }}">
            {%endif%}
            <h3 class="info-post">{{p.name}}</h3></a>
            <h4 class="info-post">{{p.fecha}}</h4>
            <div class="content-post">
              <p>{{p.text}}</p>
            </div>
        </div>
      {% endfor%}
      {%endif%}
    </div>

    <div class="col-md-3">
        <div class="profileContainer">
            <ul class="list-group">
              <li class="list-group-item">
                <span class="badge">14</span>
                Cras justo odio
              </li>
              <li class="list-group-item">
                <span class="badge">1</span>
                Erick dwuedbwiud
              </li>
              <li class="list-group-item">
                <span class="badge">5</span>
                efwk 3345 Osvaldo
              </li>
              <li class="list-group-item">
                <span class="badge">0</span>
                prepifneoirfoer
              </li>
              <li class="list-group-item">
                <span class="badge">9</span>
                ejrhbfebf eb frufiuerb
              </li>
               <li class="list-group-item">
                <span class="badge">0</span>
                prepifneoirfoer
              </li>
              <li class="list-group-item">
                <span class="badge">9</span>
                ejrhbfebf eb frufiuerb
              </li>
            </ul>

        </div>
    </div>

</div>
    </div>
  </body>
</html>
